<meta property="image:alt_text" content="Anandhu krishnan">
<meta property="og:site_name" content="Anandhu krishnan G">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.anandhukrishnan.com/">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="/imgs/IMG_3679.JPG">
<meta property="og:image:url" content="/imgs/IMG_3679.JPG">
<meta property="og:image:secure_url" content="/imgs/IMG_3679.JPG">